.container {
text-align: center;
padding: 50px;
}

.counter-value{
    background-color: black;
    color:red;
    padding: 10px;
}

.reset-container {
    padding: 10px;
}

.counter-actions{
    padding: 10px;
    .increment-button{
        margin: 10px;
    }
    .decrement-button{
        margin: 10px;
    }
}